In [ ]:
import json
import csv
import pandas as pd
import os

In [ ]:
# Define the file paths
json_path = '../data/mcc_codes.json'
csv_path = '../data/mcc_codes.csv'

# Ensure the data directory exists
os.makedirs('../data', exist_ok=True)

In [3]:
# Read from JSON file
with open(json_path, 'r') as json_file:
    json_data = json.load(json_file)

# Convert to list of dictionaries
data_list = [{"mcc_code": key, "description": value} for key, value in json_data.items()]

In [4]:
# Write to CSV
with open(csv_path, 'w', newline='') as csvfile:
    fieldnames = ['mcc_code', 'description']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    
    writer.writeheader()
    writer.writerows(data_list)

print(f"CSV file has been created successfully at {csv_path}!")

CSV file has been created successfully at ../data/mcc_codes.csv!

In [9]:
df = pd.read_csv("../data/mcc_codes.csv")
df

     mcc_code                           description
0        5812         Eating Places and Restaurants
1        5541                      Service Stations
2        7996  Amusement Parks, Carnivals, Circuses
3        5411          Grocery Stores, Supermarkets
4        4784                 Tolls and Bridge Fees
..        ...                                   ...
104      7549                       Towing Services
105      5941                 Sporting Goods Stores
106      5722            Household Appliance Stores
107      3009  Fabricated Structural Metal Products
108      5733    Music Stores - Musical Instruments

[109 rows x 2 columns]

In [ ]:
# Define the file paths
json_path = '../data/train_fraud_labels.json'
csv_path = '../data/train_fraud_labels.csv'

# Ensure the data directory exists
os.makedirs('../data', exist_ok=True)

# Read from JSON file
with open(json_path, 'r') as json_file:
    json_data = json.load(json_file)

# Extract the 'target' dictionary from the JSON
target_data = json_data['target']

# Convert to list of dictionaries
data_list = [{"transaction_id": key, "fraud_label": value} for key, value in target_data.items()]

# Write to CSV
with open(csv_path, 'w', newline='') as csvfile:
    fieldnames = ['transaction_id', 'fraud_label']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    
    writer.writeheader()
    writer.writerows(data_list)

print(f"CSV file has been created successfully at {csv_path}!")

CSV file has been created successfully at ../data/train_fraud_labels.csv!

In [12]:
df = pd.read_csv("../data/train_fraud_labels.csv")
df

         transaction_id fraud_label
0              10649266          No
1              23410063          No
2               9316588          No
3              12478022          No
4               9558530          No
...                 ...         ...
8914958        14064699          No
8914959         7676538          No
8914960        15131030          No
8914961        17244732          No
8914962        15151926          No

[8914963 rows x 2 columns]

In [3]:
import polars as pl

In [4]:
df = pl.read_csv("../data/transactions_data.csv")

In [10]:
df['id'].count()

13305915